.contact-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-contactformulier {
  flex: 0 0 auto;
  width: 100%;
  height: fit-content;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  flex-direction: column;
}
.contact-get-in-touch {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.contact-content-container {
  width: 100%;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.contact-form-container {
  width: 40%;
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  margin-right: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-gray-900);
}
.contact-heading {
  margin-bottom: var(--dl-space-space-fourunits);
}
.contact-name {
  width: 100%;
  border: none;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.contact-email {
  width: 100%;
  border: none;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.contact-message {
  width: 100%;
  border: none;
  height: 140px;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.contact-cta-btn {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.contact-locations-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.contact-location-1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.contact-heading1 {
  font-size: 24px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.contact-link {
  display: contents;
}
.contact-email1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  text-decoration: none;
}
.contact-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.contact-link1 {
  display: contents;
}
.contact-phone {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  text-decoration: none;
}
.contact-icon2 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
@media(max-width: 991px) {
  .contact-locations-container {
    flex-wrap: wrap;
  }
  .contact-location-1 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
}
@media screen and (max-width: 1200px) {
  .contact-form-container {
    width: 100%;
  }
}
  
@media(max-width: 767px) {
  .contact-content-container {
    width: 100%;
    flex-direction: column;
  }
  .contact-form-container {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .contact-locations-container {
    flex-direction: row;
    justify-content: center;
  }
}
@media(max-width: 600px) {
  .contact-contactformulier {
    width: 100%;
    max-width: var(--dl-size-size-maxcontent);
  }
  .contact-content-container {
    padding-left: 0px;
  }
  .contact-form-container {
    padding: var(--dl-space-space-tripleunit);
    margin-right: 0px;
  }
  .contact-locations-container {
    max-width: 100%;
  }
  .contact-location-1 {
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
